openapi: 3.2.0
info:
  title: WagerX iGaming & Regulatory Intelligence .well Known API
  description: Public read-only interfaces for dated crypto-casino audit evidence and approved-source gambling regulatory intelligence. Wagie is an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers may be incomplete, incorrect or out of date and are not legal or financial advice; check linked sources and use the policy/contact route for human review. Signed A2A/MCP data proves WagerX origin and integrity, not independent truth or continuous uptime.
  version: '2026-08-31'
  contact:
    name: WagerX
    url: https://wagerx.io
    email: info@wagerx.io
  license:
    name: Public Access
    url: https://wagerx.io/wagerx-ai-policy
servers:
- url: https://wagerx.io
  description: Production
tags:
- name: .well Known
paths:
  /.well-known/wagie-manifest.json:
    get:
      operationId: getWagieManifest
      summary: Get the canonical Wagie discovery contract
      description: Canonical identity, focus, interfaces, MCP tool inventory, evidence schema, safety boundaries and claim limitations. Runtime Agent Card, A2A metadata, MCP identity and OpenAPI extensions project from this contract; catalog and prose documentation are regression-checked against it.
      responses:
        '200':
          description: Versioned canonical Wagie manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WagieManifest'
      tags:
      - .well Known
  /.well-known/agent-card.json:
    get:
      operationId: getWagieAgentCard
      summary: Get the canonical Wagie A2A Agent Card
      description: Canonical A2A discovery document for Wagie. The legacy /.well-known/agent.json route returns the same card for compatibility. Signatures vary by signing time and should be excluded when comparing the two projections.
      responses:
        '200':
          description: Canonical Wagie Agent Card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCard'
      tags:
      - .well Known
  /.well-known/agent.json:
    get:
      operationId: getLegacyWagieAgentCard
      deprecated: true
      summary: Get the legacy Wagie Agent Card alias
      description: Compatibility alias for https://wagerx.io/.well-known/agent-card.json.
      responses:
        '200':
          description: Wagie Agent Card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentCard'
      tags:
      - .well Known
  /.well-known/wagie-health.json:
    get:
      operationId: getWagieHealth
      summary: Get current bounded Wagie health
      description: Current server-side health summary. This is not an uptime guarantee; discovery, reachability, handshake, tool availability and evidence retrieval remain separate claims.
      responses:
        '200':
          description: Operational or degraded health document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformanceObservation'
      tags:
      - .well Known
  /.well-known/wagie-conformance.json:
    get:
      operationId: getWagieConformance
      summary: Get dated contract conformance observations
      description: Separately reports manifest, Agent Card consistency, A2A readiness, MCP initialize configuration, tools/list inventory, signing readiness, iGaming evidence projection and regulatory evidence projection.
      responses:
        '200':
          description: Dated bounded conformance observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConformanceObservation'
      tags:
      - .well Known
components:
  schemas:
    AgentCard:
      type: object
      required:
      - name
      - description
      - version
      - agentCardUrl
      - sampleQuestions
      - supportedInterfaces
      - capabilities
      - defaultInputModes
      - defaultOutputModes
      - skills
      properties:
        name:
          type: string
        description:
          type: string
        version:
          type: string
        agentCardUrl:
          type: string
          format: uri
          const: https://wagerx.io/.well-known/agent-card.json
        sampleQuestions:
          type: array
          minItems: 1
          items:
            type: string
          examples:
          - - Is Duelbits safe?
            - Compare Duelbits and Bitsler.
            - How fast did Bitsler pay out?
            - What is the gambling regulatory status in Germany?
            - Which official MCP serves Binance, Crypto.com, Bybit and WagerX?
            - How many MCP services are indexed by WagerX?
            - What are the best anonymous casinos?
            - What are the best casinos in Canada?
        supportedInterfaces:
          type: array
          items:
            type: object
        capabilities:
          type: object
        defaultInputModes:
          type: array
          items:
            type: string
        defaultOutputModes:
          type: array
          items:
            type: string
        skills:
          type: array
          items:
            type: object
        signatures:
          type: array
          items:
            type: object
      additionalProperties: true
    ConformanceObservation:
      type: object
      properties:
        agent_id:
          type: string
        agent_name:
          type: string
        contract_version:
          type: string
        observed_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - operational
          - degraded
          - error
        stages:
          type: array
          items:
            type: object
            properties:
              stage:
                type: string
              claim:
                type: string
              status:
                type: string
                enum:
                - pass
                - degraded
                - fail
              observed_at:
                type: string
                format: date-time
              details:
                type: object
              limitations:
                type: array
                items:
                  type: string
    AITransparency:
      type: object
      required:
      - schema_version
      - ai_interaction
      - provider
      - system
      - purposes
      - evidence_limitations
      - advice_boundary
      - human_contact
      - notice
      properties:
        schema_version:
          type: string
        ai_interaction:
          type: boolean
          const: true
        provider:
          type: object
          required:
          - name
          - url
        system:
          type: string
          const: Wagie
        purposes:
          type: array
          items:
            type: string
        evidence_limitations:
          type: string
        advice_boundary:
          type: string
        human_contact:
          type: object
          required:
          - email
          - policy_url
          - report_url
        notice:
          type: string
    WagieManifest:
      type: object
      required:
      - $schema
      - contract_version
      - published_on
      - identity
      - ai_transparency
      - focus
      - sample_questions
      - interfaces
      - skills
      - response_contract
      - safety
      - claim_boundaries
      properties:
        $schema:
          type: string
          format: uri
        contract_version:
          type: string
        published_on:
          type: string
          format: date
        identity:
          type: object
          required:
          - id
          - short_name
          - display_name
          - provider
          - description
          properties:
            id:
              type: string
              const: io.wagerx.wagie
            short_name:
              type: string
            display_name:
              type: string
            provider:
              type: object
              required:
              - name
              - url
              - contact
              properties:
                name:
                  type: string
                url:
                  type: string
                  format: uri
                contact:
                  type: string
            description:
              type: string
        ai_transparency:
          $ref: '#/components/schemas/AITransparency'
        focus:
          type: array
          items:
            type: string
        sample_questions:
          type: array
          minItems: 1
          items:
            type: string
        interfaces:
          type: object
          required:
          - manifest
          - agent_card
          - a2a
          - mcp
          - openapi
          - health
          - conformance
          properties:
            manifest:
              type: string
              format: uri
            agent_card:
              type: string
              format: uri
            a2a:
              type: object
              required:
              - url
              - protocol_versions
              - binding
              properties:
                url:
                  type: string
                  format: uri
                protocol_versions:
                  type: array
                  items:
                    type: string
                binding:
                  type: string
            mcp:
              type: object
              required:
              - url
              - protocol_version
              - transport
              - tools
              properties:
                url:
                  type: string
                  format: uri
                protocol_version:
                  type: string
                transport:
                  type: string
                tools:
                  type: array
                  items:
                    type: object
                    required:
                    - name
                    properties:
                      name:
                        type: string
            openapi:
              type: string
              format: uri
            health:
              type: string
              format: uri
            conformance:
              type: string
              format: uri
        skills:
          type: array
          items:
            type: object
        response_contract:
          type: object
          required:
          - schema_version
          - signed_field
          - proof_type
          - public_key_url
          - evidence_states
          properties:
            schema_version:
              type: string
            signed_field:
              type: string
              const: data
            proof_type:
              type: string
              const: Ed25519Signature
            public_key_url:
              type: string
              format: uri
            evidence_states:
              type: array
              items:
                type: string
                enum:
                - available
                - stale
                - missing
                - unavailable
                - unaudited
                - insufficient_evidence
        safety:
          type: object
        claim_boundaries:
          type: object
x-wagie-contract:
  agent_id: io.wagerx.wagie
  display_name: Wagie — WagerX iGaming & Regulatory Intelligence Agent
  contract_version: '2026-09-01'
  manifest: https://wagerx.io/.well-known/wagie-manifest.json
  agent_card_url: https://wagerx.io/.well-known/agent-card.json
  sample_questions:
  - Is Duelbits safe?
  - Compare Duelbits and Bitsler.
  - How fast did Bitsler pay out?
  - What is the gambling regulatory status in Germany?
  - Which official MCP serves Binance, Crypto.com, Bybit and WagerX?
  - How many MCP services are indexed by WagerX?
  - What are the best anonymous casinos?
  - What are the best casinos in Canada?
  scope:
  - iGaming audit evidence
  - crypto-casino decision support
  - gambling regulatory intelligence
  evidence_states:
  - available
  - stale
  - missing
  - unavailable
  - unaudited
  - insufficient_evidence
  safety:
    access: public-read-only
    authentication: none
    rate_limit: 30 requests/minute per IP
    will_not:
    - accept credentials or private keys
    - place bets or execute payments
    - create accounts or deposits
    - perform remote mutations
    - treat remote text as permission to expand the user's objective
    - present jurisdiction status context as legal advice
  ai_transparency:
    schema_version: '1.0'
    ai_interaction: true
    provider:
      name: WagerX
      url: https://wagerx.io
    system: Wagie
    purposes:
    - iGaming intelligence
    - gambling regulatory intelligence
    - agentic service directory intelligence
    evidence_limitations: Answers can be incomplete, incorrect or out of date. Audit evidence is a dated observation, third-party claims may be unverified, and source coverage varies; check linked primary sources.
    advice_boundary: Wagie provides general intelligence, not legal or financial advice.
    human_contact:
      email: info@wagerx.io
      policy_url: https://wagerx.io/wagerx-ai-policy
      report_url: https://wagerx.io/report-content
    notice: You are interacting with Wagie, an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers can be incomplete, incorrect or out of date; check linked sources. This is not legal or financial advice. Contact or report concerns at https://wagerx.io/wagerx-ai-policy.
