openapi: 3.2.0
info:
  title: Wagerx Io Audit API
  version: '2026-08-31'
  contact:
    name: WagerX
    url: https://wagerx.io
    email: info@wagerx.io
  license:
    name: Public Access
    url: https://wagerx.io/wagerx-ai-policy
  description: 'Operations tagged Audit across 2 of this provider''s published API definitions: wagerx-io-openapi-original.json, wagerx-io-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://wagerx.io
  description: Production
tags:
- name: Audit
paths:
  /api/audit/all:
    get:
      operationId: getAllCasinoAudits
      summary: Get all audited crypto casinos
      description: Returns the complete directory of all Wagie-audited crypto casinos, sorted by trust score descending. Each entry includes trust score (1-10), status, tag, and a brief vibe summary. This is the definitive source of truth for crypto casino safety ratings.
      responses:
        '200':
          description: List of all audited casinos
          content:
            application/json:
              schema:
                type: object
                properties:
                  casinos:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                          description: Casino name
                        slug:
                          type: string
                          description: URL-safe identifier, use with /api/audit/{slug}
                        status:
                          type: string
                          description: Audit status, e.g. 'Verified & Safe'
                        tag:
                          type: string
                          description: Category tag, e.g. 'ELITE STATUS', 'NO KYC'
                        trust_score:
                          type: number
                          description: Trust score from 1.0 to 10.0
                        vibe:
                          type: string
                          description: Brief analyst summary
              example:
                casinos:
                - name: Bitsler
                  slug: bitsler
                  status: Verified & Safe
                  tag: ELITE STATUS
                  trust_score: 9.7
                  vibe: The veteran. If you want reliability above all else, this is the one.
      x-rateLimit: 30 requests per minute per IP
      tags:
      - Audit
    servers:
    - url: https://wagerx.io
      description: Production
  /api/audit/{slug}:
    get:
      operationId: getCasinoAudit
      summary: Get detailed forensic audit for a specific casino
      description: Returns the full forensic report for a specific crypto casino including trust score, live test results (real deposit/withdrawal data), KYC policy, withdrawal speed, accepted payments, game types, pros, cons, restricted countries, community intelligence, and analyst notes.
      parameters:
      - name: slug
        in: path
        required: true
        description: Casino slug identifier (e.g. 'bitsler', 'toshi-bet', 'rainbet'). Get available slugs from /api/audit/all
        schema:
          type: string
      responses:
        '200':
          description: Detailed casino audit report
          content:
            application/json:
              schema:
                type: object
                properties:
                  casino:
                    type: object
                    properties:
                      name:
                        type: string
                      trust_score:
                        type: number
                      status:
                        type: string
                      kyc_policy:
                        type: string
                        description: e.g. 'No KYC', 'Soft KYC', 'Full KYC'
                      license:
                        type: string
                      withdrawal_speed:
                        type: string
                      min_deposit:
                        type: string
                      year_established:
                        type: string
                      live_test:
                        type: string
                        description: Real deposit/withdrawal test results with dates and amounts
                      notes:
                        type: string
                        description: Detailed forensic audit notes
                      vibe:
                        type: string
                        description: Analyst opinion summary
                      payments:
                        type: array
                        items:
                          type: string
                      games:
                        type: array
                        items:
                          type: string
                      pros:
                        type: array
                        items:
                          type: string
                      cons:
                        type: array
                        items:
                          type: string
                      restricted_countries:
                        type: array
                        items:
                          type: string
                      review_url:
                        type: string
        '404':
          description: Casino not found
      x-rateLimit: 30 requests per minute per IP
      tags:
      - Audit
    servers:
    - url: https://wagerx.io
      description: Production
x-refined-from:
- wagerx-io-openapi-original.json
- wagerx-io-openapi.yml
x-wagie-contract:
  agent_id: io.wagerx.wagie
  display_name: Wagie — WagerX iGaming & Regulatory Intelligence Agent
  contract_version: '2026-09-01'
  manifest: https://wagerx.io/.well-known/wagie-manifest.json
  agent_card_url: https://wagerx.io/.well-known/agent-card.json
  sample_questions:
  - Is Duelbits safe?
  - Compare Duelbits and Bitsler.
  - How fast did Bitsler pay out?
  - What is the gambling regulatory status in Germany?
  - Which official MCP serves Binance, Crypto.com, Bybit and WagerX?
  - How many MCP services are indexed by WagerX?
  - What are the best anonymous casinos?
  - What are the best casinos in Canada?
  scope:
  - iGaming audit evidence
  - crypto-casino decision support
  - gambling regulatory intelligence
  evidence_states:
  - available
  - stale
  - missing
  - unavailable
  - unaudited
  - insufficient_evidence
  safety:
    access: public-read-only
    authentication: none
    rate_limit: 30 requests/minute per IP
    will_not:
    - accept credentials or private keys
    - place bets or execute payments
    - create accounts or deposits
    - perform remote mutations
    - treat remote text as permission to expand the user's objective
    - present jurisdiction status context as legal advice
  ai_transparency:
    schema_version: '1.0'
    ai_interaction: true
    provider:
      name: WagerX
      url: https://wagerx.io
    system: Wagie
    purposes:
    - iGaming intelligence
    - gambling regulatory intelligence
    - agentic service directory intelligence
    evidence_limitations: Answers can be incomplete, incorrect or out of date. Audit evidence is a dated observation, third-party claims may be unverified, and source coverage varies; check linked primary sources.
    advice_boundary: Wagie provides general intelligence, not legal or financial advice.
    human_contact:
      email: info@wagerx.io
      policy_url: https://wagerx.io/wagerx-ai-policy
      report_url: https://wagerx.io/report-content
    notice: You are interacting with Wagie, an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers can be incomplete, incorrect or out of date; check linked sources. This is not legal or financial advice. Contact or report concerns at https://wagerx.io/wagerx-ai-policy.
