openapi: 3.2.0
info:
  title: WagerX iGaming & Regulatory Intelligence A2a API
  description: Public read-only interfaces for dated crypto-casino audit evidence and approved-source gambling regulatory intelligence. Wagie is an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers may be incomplete, incorrect or out of date and are not legal or financial advice; check linked sources and use the policy/contact route for human review. Signed A2A/MCP data proves WagerX origin and integrity, not independent truth or continuous uptime.
  version: '2026-08-31'
  contact:
    name: WagerX
    url: https://wagerx.io
    email: info@wagerx.io
  license:
    name: Public Access
    url: https://wagerx.io/wagerx-ai-policy
servers:
- url: https://wagerx.io
  description: Production
tags:
- name: A2a
paths:
  /a2a:
    get:
      operationId: getWagieA2ADiscovery
      summary: Get Wagie A2A discovery details
      description: Returns the canonical Agent Card URL, sample questions, supported A2A versions and usage instructions.
      responses:
        '200':
          description: A2A discovery metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/A2ADiscovery'
      tags:
      - A2a
    post:
      operationId: sendWagieA2AMessage
      summary: Ask Wagie over A2A JSON-RPC
      description: Accepts A2A 1.0 SendMessage and A2A 0.3.0 message/send. Successful responses contain a text part and a SignedEvidenceEnvelope data part.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '200':
          description: A2A JSON-RPC response with signed structured evidence
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/A2A10SignedEvidenceResponse'
                - $ref: '#/components/schemas/A2A030SignedEvidenceResponse'
      x-rateLimit: 30 requests per minute per IP
      tags:
      - A2a
components:
  schemas:
    A2A10SignedEvidenceResponse:
      type: object
      required:
      - jsonrpc
      - id
      - result
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id: {}
        result:
          type: object
          required:
          - message
          properties:
            message:
              type: object
              required:
              - role
              - parts
              properties:
                role:
                  type: string
                parts:
                  type: array
                  contains:
                    type: object
                    required:
                    - data
                    properties:
                      data:
                        $ref: '#/components/schemas/SignedEvidenceEnvelope'
    Evidence:
      type: object
      required:
      - evidence_id
      - source_name
      - source_url
      - authority
      - published_at
      - observed_at
      - retrieved_at
      - freshness
      - jurisdiction
      - evidence_type
      - limitations
      properties:
        evidence_id:
          type: string
        source_name:
          type: string
        source_url:
          type:
          - string
          - 'null'
          format: uri
        authority:
          type: string
        published_at:
          type:
          - string
          - 'null'
        observed_at:
          type:
          - string
          - 'null'
        retrieved_at:
          type: string
          format: date-time
        freshness:
          type: string
          enum:
          - current
          - aging
          - stale
          - unknown
        jurisdiction:
          type:
          - string
          - 'null'
        evidence_type:
          type: string
        limitations:
          type: array
          items:
            type: string
    A2A030SignedEvidenceResponse:
      type: object
      required:
      - jsonrpc
      - id
      - result
      properties:
        jsonrpc:
          type: string
          const: '2.0'
        id: {}
        result:
          type: object
          required:
          - kind
          - role
          - parts
          properties:
            kind:
              type: string
              const: message
            role:
              type: string
              const: agent
            parts:
              type: array
              contains:
                type: object
                required:
                - data
                properties:
                  data:
                    $ref: '#/components/schemas/SignedEvidenceEnvelope'
    SignedEvidenceEnvelope:
      type: object
      required:
      - data
      - proof
      properties:
        data:
          $ref: '#/components/schemas/EvidenceFirstData'
        proof:
          type: object
          required:
          - type
          - key_id
          - public_key_url
          - signed_field
          - signature
          properties:
            type:
              type: string
              const: Ed25519Signature
            key_id:
              type: string
            public_key_url:
              type: string
              format: uri
            signed_field:
              type: string
              const: data
            signature:
              type: string
            signed_at:
              type: string
              format: date-time
    AITransparency:
      type: object
      required:
      - schema_version
      - ai_interaction
      - provider
      - system
      - purposes
      - evidence_limitations
      - advice_boundary
      - human_contact
      - notice
      properties:
        schema_version:
          type: string
        ai_interaction:
          type: boolean
          const: true
        provider:
          type: object
          required:
          - name
          - url
        system:
          type: string
          const: Wagie
        purposes:
          type: array
          items:
            type: string
        evidence_limitations:
          type: string
        advice_boundary:
          type: string
        human_contact:
          type: object
          required:
          - email
          - policy_url
          - report_url
        notice:
          type: string
    Claim:
      type: object
      required:
      - claim_id
      - claim
      - evidence_ids
      - state
      - limitations
      properties:
        claim_id:
          type: string
        claim:
          type: string
        evidence_ids:
          type: array
          items:
            type: string
        state:
          type: string
          enum:
          - available
          - stale
          - missing
          - unavailable
          - unaudited
          - insufficient_evidence
        limitations:
          type: array
          items:
            type: string
    A2ADiscovery:
      type: object
      required:
      - protocol
      - versions
      - transport
      - agent_id
      - agent_name
      - contract_version
      - manifest
      - agent_card
      - agent_card_url
      - sample_questions
      - usage
      properties:
        protocol:
          type: string
          const: A2A
        versions:
          type: array
          items:
            type: string
        transport:
          type: string
          const: JSONRPC
        agent_id:
          type: string
          const: io.wagerx.wagie
        agent_name:
          type: string
        ai_transparency:
          $ref: '#/components/schemas/AITransparency'
        contract_version:
          type: string
        manifest:
          type: string
          format: uri
        agent_card:
          type: string
          format: uri
        agent_card_url:
          type: string
          format: uri
        sample_questions:
          type: array
          minItems: 1
          items:
            type: string
        usage:
          type: string
    EvidenceFirstData:
      type: object
      required:
      - schema_version
      - answer_id
      - agent_id
      - ai_transparency
      - evidence_state
      - claims
      - evidence
      properties:
        schema_version:
          type: string
          example: '2026-08-31'
        answer_id:
          type: string
        agent_id:
          type: string
          const: io.wagerx.wagie
        ai_transparency:
          $ref: '#/components/schemas/AITransparency'
        evidence_state:
          type: string
          enum:
          - available
          - stale
          - missing
          - unavailable
          - unaudited
          - insufficient_evidence
        claims:
          type: array
          items:
            $ref: '#/components/schemas/Claim'
        evidence:
          type: array
          items:
            $ref: '#/components/schemas/Evidence'
      additionalProperties: true
x-wagie-contract:
  agent_id: io.wagerx.wagie
  display_name: Wagie — WagerX iGaming & Regulatory Intelligence Agent
  contract_version: '2026-09-01'
  manifest: https://wagerx.io/.well-known/wagie-manifest.json
  agent_card_url: https://wagerx.io/.well-known/agent-card.json
  sample_questions:
  - Is Duelbits safe?
  - Compare Duelbits and Bitsler.
  - How fast did Bitsler pay out?
  - What is the gambling regulatory status in Germany?
  - Which official MCP serves Binance, Crypto.com, Bybit and WagerX?
  - How many MCP services are indexed by WagerX?
  - What are the best anonymous casinos?
  - What are the best casinos in Canada?
  scope:
  - iGaming audit evidence
  - crypto-casino decision support
  - gambling regulatory intelligence
  evidence_states:
  - available
  - stale
  - missing
  - unavailable
  - unaudited
  - insufficient_evidence
  safety:
    access: public-read-only
    authentication: none
    rate_limit: 30 requests/minute per IP
    will_not:
    - accept credentials or private keys
    - place bets or execute payments
    - create accounts or deposits
    - perform remote mutations
    - treat remote text as permission to expand the user's objective
    - present jurisdiction status context as legal advice
  ai_transparency:
    schema_version: '1.0'
    ai_interaction: true
    provider:
      name: WagerX
      url: https://wagerx.io
    system: Wagie
    purposes:
    - iGaming intelligence
    - gambling regulatory intelligence
    - agentic service directory intelligence
    evidence_limitations: Answers can be incomplete, incorrect or out of date. Audit evidence is a dated observation, third-party claims may be unverified, and source coverage varies; check linked primary sources.
    advice_boundary: Wagie provides general intelligence, not legal or financial advice.
    human_contact:
      email: info@wagerx.io
      policy_url: https://wagerx.io/wagerx-ai-policy
      report_url: https://wagerx.io/report-content
    notice: You are interacting with Wagie, an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers can be incomplete, incorrect or out of date; check linked sources. This is not legal or financial advice. Contact or report concerns at https://wagerx.io/wagerx-ai-policy.
