openapi: 3.2.0
info:
  title: WagerX iGaming & Regulatory Intelligence News API
  description: Public read-only interfaces for dated crypto-casino audit evidence and approved-source gambling regulatory intelligence. Wagie is an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers may be incomplete, incorrect or out of date and are not legal or financial advice; check linked sources and use the policy/contact route for human review. Signed A2A/MCP data proves WagerX origin and integrity, not independent truth or continuous uptime.
  version: '2026-08-31'
  contact:
    name: WagerX
    url: https://wagerx.io
    email: info@wagerx.io
  license:
    name: Public Access
    url: https://wagerx.io/wagerx-ai-policy
servers:
- url: https://wagerx.io
  description: Production
tags:
- name: News
paths:
  /api/news/latest:
    get:
      operationId: getLatestNews
      summary: Get latest WagerX news articles
      description: Returns the most recent news articles and casino audit reports from WagerX, including title, excerpt, category, date, and image URL.
      responses:
        '200':
          description: Latest news articles
          content:
            application/json:
              schema:
                type: object
                properties:
                  articles:
                    type: array
                    items:
                      type: object
                      properties:
                        title:
                          type: string
                        slug:
                          type: string
                        category:
                          type: string
                        date:
                          type: string
                        excerpt:
                          type: string
                        image_url:
                          type: string
      tags:
      - News
x-wagie-contract:
  agent_id: io.wagerx.wagie
  display_name: Wagie — WagerX iGaming & Regulatory Intelligence Agent
  contract_version: '2026-09-01'
  manifest: https://wagerx.io/.well-known/wagie-manifest.json
  agent_card_url: https://wagerx.io/.well-known/agent-card.json
  sample_questions:
  - Is Duelbits safe?
  - Compare Duelbits and Bitsler.
  - How fast did Bitsler pay out?
  - What is the gambling regulatory status in Germany?
  - Which official MCP serves Binance, Crypto.com, Bybit and WagerX?
  - How many MCP services are indexed by WagerX?
  - What are the best anonymous casinos?
  - What are the best casinos in Canada?
  scope:
  - iGaming audit evidence
  - crypto-casino decision support
  - gambling regulatory intelligence
  evidence_states:
  - available
  - stale
  - missing
  - unavailable
  - unaudited
  - insufficient_evidence
  safety:
    access: public-read-only
    authentication: none
    rate_limit: 30 requests/minute per IP
    will_not:
    - accept credentials or private keys
    - place bets or execute payments
    - create accounts or deposits
    - perform remote mutations
    - treat remote text as permission to expand the user's objective
    - present jurisdiction status context as legal advice
  ai_transparency:
    schema_version: '1.0'
    ai_interaction: true
    provider:
      name: WagerX
      url: https://wagerx.io
    system: Wagie
    purposes:
    - iGaming intelligence
    - gambling regulatory intelligence
    - agentic service directory intelligence
    evidence_limitations: Answers can be incomplete, incorrect or out of date. Audit evidence is a dated observation, third-party claims may be unverified, and source coverage varies; check linked primary sources.
    advice_boundary: Wagie provides general intelligence, not legal or financial advice.
    human_contact:
      email: info@wagerx.io
      policy_url: https://wagerx.io/wagerx-ai-policy
      report_url: https://wagerx.io/report-content
    notice: You are interacting with Wagie, an AI system provided by WagerX for iGaming and gambling regulatory intelligence. Answers can be incomplete, incorrect or out of date; check linked sources. This is not legal or financial advice. Contact or report concerns at https://wagerx.io/wagerx-ai-policy.
